@import '../../scss/variables';

.categories {
  ul {
    display: flex;
    margin-bottom: 0;

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();


      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }
    }
  }


  @media (max-width: 1210px) {
    margin-top: 15px;
  }

  @media (max-width: 950px) {
    padding-bottom: 15px;
    width: 100%;
    overflow: auto;
  }

  .active {
    background-color: #282828 !important;
    color: #fff;
  }
}