@import '../../scss/variables';

.footer {
  border-top: 1px solid $gray-line;
  padding: 30px 60px;

  @media (max-width: 500px) {
    padding: 25px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .year {
    color: #7b7b7b;
    margin-top: 5px;
  }
}