@import '../../scss/variables';

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;

  @media (max-width: 1000px) {
    text-align: center;
    flex-direction: column;
  }

  .title {
    font-size: 38px;
    font-weight: bold;

    @media (max-width: 1000px) {
      text-align: center;
      margin-bottom: 25px;
    }
  }

  .sortSvg {
    margin-left: 10px;
    cursor: pointer;
    opacity: 0.65;
    transition: opacity $duration ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

.middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0 60px;

  @media (max-width: 1210px) {
    flex-direction: column-reverse;
  }
}

.descending {
  transform: scale(1, -1);
}

.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  margin-bottom: 50px;

  @media (max-width: 1400px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1060px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 730px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  span {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 30px;
  }

}