@import '../../scss/variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 30px 60px;

  @media (max-width: 500px) {
    padding: 25px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    margin-right: 10px;

    img {
      margin-right: 10px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;

      @media (max-width: 430px) {
        text-align: center;
      }
    }

    p {
      color: #7b7b7b;

      @media (max-width: 680px) {
        display: none;
      }
    }
  }

  .delimiter {
    width: 2px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.25);
    margin-left: 5px;
    margin-right: 2px;
  }
}